<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enyata.camdiary">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MvvmApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.deliveries.history.DeliveryHistoryActivity"></activity>
        <activity android:name=".ui.deliveries.signcustomer.confirmsuccess.SignsuccessActivity" />
        <activity android:name=".ui.deliveries.signcustomer.confirmation.ConfirmationActivity" />
        <activity android:name=".ui.deliveries.signcustomer.signup.SignupActivity" />
        <activity android:name=".ui.deliveries.deliveries_delivery.deliverysuccess.FinishActivity" />
        <activity android:name=".ui.deliveries.bottles.BottlesActivity" />
        <activity android:name=".ui.deliveries.deliveries_delivery.feedback.FeedbackActivity" />
        <activity android:name=".ui.deliveries.deliveries_delivery.details.DetailsActivity" />
        <activity android:name=".ui.deliveries.deliveries_delivery.delivery.DeliveryActivity" />
        <activity android:name=".ui.deliveries.deliveryDashboard.DeliveryDashboardActivity" />
        <activity android:name=".ui.aggregations.history.AggregatorHIstoryActivity" />
        <activity android:name=".ui.aggregations.collection.success.CollectionSuccessActivity" />
        <activity android:name=".ui.aggregations.collection.last.LastCollectionActivity" />
        <activity android:name=".ui.aggregations.entervolume.VolumeActivity" />
        <activity android:name=".ui.aggregations.product.ProductActivity" />
        <activity android:name=".ui.aggregations.details.CollectorDetailActivity" />
        <activity android:name=".ui.aggregations.barcode.collectorID.CollectorIdActivity" />
        <activity android:name=".ui.aggregations.barcode.scanbarcode.ScanActivity" />
        <activity android:name=".ui.aggregations.dashboard.AggregatorDashboardActivity" />
        <activity android:name=".ui.collections.constant.ConstantLayoutActivity" />
        <activity android:name=".ui.collections.fixed.FixedLayoutActivity" />
        <activity android:name=".ui.collections.rejection.rejectsuccess.RejectsuccessActivity" />
        <activity android:name=".ui.collections.rejection.reason.ReasonActivity" />
        <activity android:name=".ui.collections.data.dataSubmission.SubmissionActivity" />
        <activity android:name=".ui.collections.data.dataCollection.DataCollectionActivity" />
        <activity android:name=".ui.collections.history.HistoryActivity" />
        <activity android:name=".ui.collections.successfulcollection.SuccessfulActivity" />
        <activity android:name=".ui.collections.entervolume.EnterVolumeActivity" />
        <activity android:name=".ui.collections.farmer.farmerId.FarmerIdActivity" />
        <activity android:name=".ui.collections.barcode.BarcodeActivity" />
        <activity android:name=".ui.collections.dashboard.DashboardActivity" />
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.feed.FeedActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.main.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>
        <activity android:name=".ui.collections.farmer.farmerDetails.FarmerDetailsActivity" />
    </application>

</manifest>